.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 700px;
}



.box{
    height: 200px;
    width: 200px;
    margin: 5px;
    cursor: pointer;
    background-color: black;
    transition: 0.5s;
}